body{
    background-color: #05465A;
    margin-top: 25px;
}

form{
    background-color: white;
    padding: 50px 50px;
    width: 300px;
    text-align: center;
    margin-left: 450px;
    margin-top: 250px;
    border-radius: 25px;
}
input{
    display: block;
    margin-left: 75px;
}