@import url('https://fonts.googleapis.com/css?family=El+Messiri');
body {
    margin: 0;
}

header nav {
  font-family: 'El Messiri', sans-serif;
  height: 52px;
  background-color:rgba(0, 0, 0, 0.87);
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
}

header nav ul img {
   height : 30%;
   position: absolute;
   right: 45%;
   margin: 0;
   top: 0%;
}

header nav ul li {
    display: inline-block;
    height: 100%;
    border-right: 2px solid beige;
    margin: 0;
    border-radius: 20px 0px 20px 0px;
    list-style-type:none;
}

header nav div.left {
    z-index:2;
    position: absolute;
    height: 50px;
    width:50px;
}

header nav div.left img {
    margin-top :15px;
    margin-left:10px;
    width :30px;
    height:30px;
}

header nav ul{
    height: 100%;
}

header nav div.right {
    position: absolute;
    height: 40px;
    top: 10px;
    margin-left: 95%;
}

header nav div.right img {
    height: 75%;
}


header nav div.right .login {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.87);

}
header nav div.right:not( :hover ) .login {
    display: none;
}

